@using Microsoft.Extensions.Localization
@using SemMultiLang.LanguageLib.Languages

@inject IStringLocalizer<Lang> _strLocalization;


@{
    ViewData["Title"] = _strLocalization["Home"];
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.WelcomeLabel</h1>


    <p>@_strLocalization["Overview"]</p>

    <p>LanguageHelper.cs : @ViewBag.HomeLabel</p>
</div>
